
:root {
  --main-color: #4b76cc;
  --main-color-light: #f0faff;
  --main-color-dark: #0067b2;
  --inactive-button-bg: #c9c9c9;
  --red: #ed1c24;
  --black: #000000;
  --white: #ffffff;
  --green: #29af58;
  --brown: #b27036;
  --blue: #29abe2;
  --yellow: #ffb831;
  --gray-bg: #d7d7d7;
  --font: 'Chivo', sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.7%;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  background-color: var(--gray-bg);
  color: var(--black);
}
/*t*/ .print {display:none}
p {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.text {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}


li {
  text-decoration: none;
}

ul {
  list-style: none;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button {
  cursor: pointer;
  /*t*/ text-decoration:none;
}

a:active,
a:hover {
  outline: 0;
}

/* Page preloader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--main-color-light);
}

.loader img {
  width: 120px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-animation: float 2s ease-in-out infinite;
          animation: float 2s ease-in-out infinite;
}

.loader.hidden {
  display: none;
}


@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px) translate(-50%, -50%);
            transform: translateY(0px) translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translateY(25px) translate(-50%, -50%);
            transform: translateY(25px) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translateY(0px) translate(-50%, -50%);
            transform: translateY(0px) translate(-50%, -50%);
  }
}


@keyframes float {
  0% {
    -webkit-transform: translateY(0px) translate(-50%, -50%);
            transform: translateY(0px) translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translateY(25px) translate(-50%, -50%);
            transform: translateY(25px) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translateY(0px) translate(-50%, -50%);
            transform: translateY(0px) translate(-50%, -50%);
  }
}


/* Layout */
.layout {
  max-width: 1920px;
  min-height: 100vh;
  margin: auto;
  padding-top: 7.5rem;
  background-color: var(--white);
}

/* Header (navigation) */
.header {
  height: 7.5rem;
  border-bottom: 1.5px rgb(240, 240, 240) solid;
  z-index: 4;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 25%;
  right: 25%;
}

.nav_logo-flag {
  display: none;
}

.header_nav {
  height: 100%;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  margin: auto 2rem;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nav_list::-webkit-scrollbar {
  height: 0rem;
  width: 0rem;
}

.nav_item {
  height: 100%;
  font-size: 1.8rem;
  font-weight: bold;
  padding-right: 4%;
  padding-left: 4%;
  border-bottom: 3px solid transparent;
  color: var(--main-color-dark);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav_item_link {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: inherit;
}

.nav_item:hover {
  border-bottom: 3px solid var(--main-color-dark);
}

.nav_item.active {
  color: var(--black);
  border-bottom: 3px solid var(--black);
}

/* Hero */
.hero {
  width: 25%;
  max-width: 34.8rem;
  background-color: var(--main-color);
  background-image: url('../assets/main-image.png');
  background-position-y: bottom;
  background-size: cover;
  color: var(--white);
  text-align: center;
  position: fixed;
  right: left;
  bottom: 7.5rem;
  top: 0;
}

.hero_logo-flag {
  width: 80%;
  margin: auto;
  margin-top: 8.5rem;
}

.hero_logo {
  width: 17.4rem;
}

.hero_flag {
  font-size: 2.4rem;
  font-weight: 300;
}

.hero_description h3 {
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: bold;
  width: 85%;
  margin: auto;
  margin-top: 4rem;
}

/* Spotlight */
.spotlight {
  width: 25%;
  max-width: 34.8rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}

.title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--main-color);
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
}

/* Content */
.content {
  margin: 7.5rem 25%;
  margin-top: 0rem;
}

.inline-ul li {
  list-style-type: square;
  margin: 1rem;
 font-weight:300;
 line-height: 2.2rem;
}

p.introduction a:link, .inline-ul li a:link {color: var(--main-color-dark);}
p.introduction a:visited, .inline-ul li a:visited {color: var(--main-color-dark);}
p.introduction a:hover, .inline-ul li a:hover {text-decoration:underline}

/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-color-light);
  margin-top: 3rem;
  z-index: 2;
}

.footer_links {
  width: 25%;
  max-width: 34.8rem;
  background-color: var(--main-color);
  padding-top: 1rem;
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: bold;
  text-align: center;
}
.footer_links a, .footer_links a:visited {  text-decoration:none;color: var(--white);
}
.footer_sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--main-color-light);
}

.footer_sponsor-link {
  display: block;
}

.footer_sponsor-img {
  height: 4rem;
}

/* sm-box */
.sm-box {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--main-color);
  border-radius: 0.4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  outline: none;
}

/*  Media Queries  */
@media (min-width: 1920px) {
  .header {
    right: calc((100vw - 1920px) / 2 + 45rem);
    left: calc((100vw - 1920px) / 2 + 45rem);
  }
  .spotlight {
    right: calc((100vw - 1920px) / 2);
  }
  .footer {
    right: calc((100vw - 1920px) / 2);
    left: calc((100vw - 1920px) / 2);
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 66%;
  }
  .spotlight,
  .hero,
  .footer_links {
    max-width: 45rem;
  }
}

@media (max-width: 1125px) {
  html {
    font-size: 56%;
  }

  p, .inline-ul li {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
    .inline-ul {margin-left:1em}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav_list {
    max-width: 100%;
  }

  .nav_item {
    font-size: 14px;
    padding: 2px;
  }
}

@media (max-width: 768px) {
  .layout {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 0rem;
  }

  .nav_logo-flag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
    position: fixed;
    width: 100%;
    background: var(--main-color);
    padding: 1rem;
    color: var(--white);
    z-index: 4;
  }

  .nav_logo {
    width: 10rem;
    margin-right: 2rem;
  }

  .nav_flag {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
  }

  .header {
    top: 6.8rem;
    left: 0;
    width: 100%;
    height: 6.4rem;
  }

  .hero {
    width: 100%;
    max-width: 100%;
    height: 20rem;
    background-position-y: 65%;
    padding-top: 2rem;
    margin-top: 12rem;
    position: relative;
  }

  .hero_logo-flag {
    display: none;
  }

  .hero_description {
    margin-top: 5rem;
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
  }

  .hero_description h3 {
    text-align: center;
    line-height: 3rem;
  }

  .header {
    border-bottom: none;
    -webkit-box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  }

  .header_nav {
    max-width: 60rem;
    margin: auto;
  }

  .spotlight {
    display: none;
  }

  .content {
    margin: 0;
    margin-bottom: 10rem;
  }

  .footer {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 7rem;
  }

  .footer_links {
    width: 100%;
    max-width: 100%;
    padding: 2rem;
  }

  .footer_sponsors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 1.6rem;
    background-color: var(--main-color-light);
  }
}

@media (max-width: 667px) {
  .header {
    height: 51px;
  }

  .nav_flag {
    font-size: 20px;
  }

  .nav_item {
    font-size: 15px;
  }

  .content {
    margin-bottom: 6rem;
  }

  .footer {
    display: block;
    width: 100%;
    position: relative;
  }

  .footer_sponsors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
    -ms-flex-pack: baseline;
    justify-content: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    padding: 4rem;
    background-color: var(--main-color-light);
  }

  .footer_sponsor-link {
    width: 45%;
    height: 6rem;
    text-align: center;
  }

  .footer_sponsor-link:nth-child(1) {
    height: 4rem;
  }

  .footer_sponsor-link:nth-child(3) {
    width: 100%;
    margin: 6rem;
  }

  .footer_sponsor-img {
    height: 100%;
  }
}

@media (max-width: 375px) {
  p, .inline-ul li {
    font-size: 14px;
  }

  .nav_flag {
    font-size: 18px;
    margin: 0;
  }

  .hero {
    height: 315px;
  }

  .nav_list {
    max-width: 100%;
    margin: 2px;
  }

  .nav_item {
    font-size: 14px;
    padding: 1px;
  }
}